#course-content{
    background-color: rgb(21, 23, 23);
}
.info-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.info-box{
    background: rgb(25, 28, 29);
    width: 22rem;
    padding: 45px 20px 20px 20px;
    border-radius: 5px;
    margin-top: 6.5rem;
    position: relative;
}
.box-title{
    margin-bottom: 15px;
    font-size: 1.3rem;
}
.box-description{
    opacity: 0.5;
    font-size: 1.1rem;

    line-height: 1.1;
    font-weight: 400;
}
.float-box{
    position: absolute;
    top: -30px;
    background: rgb(255, 6, 87);
    width: 60px;
    height: 60px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.49) 0px 8px 17px;
}
.float-box img{
    width: 60px;
    height: 50px;

    padding: 10px;
}

.div-brace{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 4rem;

}
.div-brace{
    margin-bottom: 2rem;

}
#content-text h2,
#content-text p{
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-text p{
    font-weight: 700;
    text-align: center;

    opacity: 0.5;

    margin-bottom: 1rem;
}

#content-text h2 {
    font-size: 4rem;
    text-align: center;
}

@media(min-width:920px){
    .info-boxes{
        grid-template-columns: repeat(3, 1fr);
        gap: 2.2rem;
        margin-left: -5px;
    }
}